.App {
  text-align: center;
  background-color: #282c34;
}

.header{
  height: 10vh;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 5px solid red;
  position: sticky;
  top: 0;
}

.cityTextbox{
  top: 5vh;
  height: 7vh;
  width: 80vw;
  font-size: 2rem;
  text-align: center;
}

.suggestionWrapper{
  border: 1px solid red;
  height: 20vh;
  overflow-y: scroll;
}
.suggestion:hover{
  color: blue;
  cursor: pointer;
}

.suggestion{
  background-color: white;
  width: 80vw;
  color: black;
  height: 5vh;
  border: 1px solid lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;

}

.app_body { 
  margin-top: 5vh; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



